<div class="container">

  <ng-container *ngVar="(scope$ | async) as scope">
    @if (scope) {
      <h1
        class="header"
        id="{{ scope.id }}">
        {{ 'statistics.header' | translate: { scope: getName(scope) } }}
      </h1>
    }
  </ng-container>

    <ng-container *ngVar="reports$ | async as reports">

      @if (!reports) {
        <ds-loading></ds-loading>
      }

      @if (reports) {
          <ds-statistics-chart
            [reports]="reports"
            [scope] = "scope$ | async"
            class="m-2">
          </ds-statistics-chart>
        
        @if ((hasData$ | async) !== true) {
          <div>
            {{ 'statistics.page.no-data' | translate }}
          </div>
        }
      }

  </ng-container>

</div>
