<footer class="footer">
    <div class="footer-content">
        <div class="left-column">
            <div class="footer-row">
                <div class="cell" id="footer-group-one" aria-labelledby="footer-group-one">
                    <h3>FIND MATERIALS</h3>
                    <a href="https://alliance-uoregon.primo.exlibrisgroup.com/discovery/search?vid=01ALLIANCE_UO:UO&lang=en" aria-label="">Library Search</a>
                    <a href="http://researchguides.uoregon.edu/" aria-label="">Research guides</a>
                    <a href="https://library.uoregon.edu/node/493/" aria-label="">Course reserves</a>
                    <a href="https://researchguides.uoregon.edu/az/databases" aria-label="">Databases A-Z</a>
                </div>
                <div class="cell" id="footer-group-two" aria-labelledby="footer-group-one">
                    <h3>INFORMATION FOR</h3>
                    <a href="https://library.uoregon.edu/undergraduate-services" aria-label="">Undergraduate Students</a>
                    <a href="https://researchguides.uoregon.edu/grad_resources" aria-label="">Graduate Students</a>
                    <a href="https://library.uoregon.edu/access-services/borrowing/about-borrowing" aria-label="">Faculty, Staff and Instructors</a>
                    <a href="https://next.library.uoregon.edu/#" aria-label="">Alumni, Community and Public</a>
                </div>
                <div class="cell" id="footer-group-three" aria-labelledby="footer-group-one">
                    <h3>GET HELP</h3>
                    <a href="https://uoregon.libanswers.com/chat/widget/a54710f6510ca38fd3242978d83b43b244f09c53eca366af507d822302de9a79" aria-label="">Chat 24x7</a>
                    <a href="https://library.uoregon.edu/ask/contact-us" aria-label="">Contact a Librarian</a>
                    <a href="https://uoregon.libanswers.com/search/" aria-label="">FAQs</a>
                    <a href="https://next.library.uoregon.edu/#" aria-label="">Give Feedback</a>
                </div>
            </div>
            <div class="footer-row">
                <div class="cell full-width donation-section">
                    <p class="donation-text">A gift to the UO Libraries has the broadest possible impact on campus, because we serve all
                        students and faculty across all schools, colleges, and disciplines</p>
                </div>
                <div class="cell">
                    <a class="give-now-btn" href="https://giving.uoregon.edu/s/1540/22-it/interior.aspx?sid=1540&gid=2&pgid=2209" aria-label="">GIVE NOW</a>
                </div>
            </div>
        </div>
        <div class="right-column">
            <div class="contact-address cell">
                <h3>UO LIBRARIES</h3>
                <div>1501 Kincaid Street</div>
                <span itemprop="addressLocality">Eugene</span>, <span itemprop="addressRegion">OR </span>
                <span itemprop="postalCode">97403</span>
                <div class="site-footer__phone-fax">P: <span itemprop="telephone">541-346-3053</span></div>
                <div class="site-footer__phone-fax">F: <span itemprop="faxNumber">541-346-3485</span></div>
            </div>
            <div class="social-media">
                <a href="https://www.facebook.com/uolibraries" aria-label="Visit us on Facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                <a href="https://twitter.com/uolibraries" aria-label="Visit us on Twitter"><i class="fab fa-x-twitter" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/c/uolibrarieseugene" aria-label="Visit us on Youtube"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/uolibraries/" aria-label="Visit us on Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="uofooter">
        <div class="bottom-links">
            <a href="https://uoregon.edu/reportaconcern" aria-label="">Report a Concern</a>
            <a href="https://investigations.uoregon.edu/nondiscrimination" aria-label="">Nondiscrimination and Title IX</a>
            <a href="https://uoregon.edu/accessibility" aria-label="">Accessibility</a>
            <a href=" https://registrar.uoregon.edu/privacy?utm_source=banner-module&utm_campaign=banner" aria-label="">Privacy Policy</a>
            <a href="https://hr.uoregon.edu/jobs/available-positions" aria-label="">Careers</a>
            <a href="https://uoregon.edu/about" aria-label="">About</a>
            <a href="https://uoregon.edu/findpeople" aria-label="">Find People</a>
        </div>
        <div class="copyright">
        © <a href="https://uoregon.edu/?utm_source=banner-module&utm_campaign=banner">University of Oregon</a>. All Rights Reserved.
        </div>
    </div>
</footer>