<!-- about.component.html -->
<div class="about-container">
    <h1>{{ title }}</h1>
  
    <p><a routerLink="/">Scholars' Bank</a> is an open access digital archive for the scholarly and creative output of the
      University of Oregon community. Its mission is to preserve and disseminate the intellectual and creative output of
      the University of Oregon's faculty, staff, and students.</p>
  
    <p>Faculty, staff, and graduate students can deposit their research and scholarship—unpublished and, in many cases,
      published— into Scholars' Bank. Departments can use Scholars' Bank to distribute their working papers, technical
      reports, or other research material.</p>
  
    <p>If you are interested in starting a community or contributing to an existing community, please <a
        routerLink="/info/contactus">contact us</a>.</p>
  
    <h2>The archive has the following characteristics:</h2>
  
    <ul>
      <li>Authors select scholarly works to deposit in the archive and are responsible for insuring that deposits do not
        violate copyright laws.</li>
      <li>Authors retain <a
          href="https://library.uoregon.edu/digital-scholarship-services/scholars-bank/faq-scholars-bank">copyright</a>
        over deposited materials (unless they sign it away to a third party)</li>
      <li> We recommend that files for submission be converted to a non-proprietary format if at all possible. For more
        guidance please see this <a href="https://researchguides.uoregon.edu/data-management/fileformats">resource</a> for
        detailed file format standards. For files exceeding 50 MB, please contact the Scholars' Bank Manager for
        planning.",
      <li>Materials are searchable through search engines such as Google, and international search engines and harvesters
        such as <a href="https://www.oclc.org/en/oaister.html">OAIster</a></li>
      <li>Accepted materials will be preserved and migrated to newer formats to the extent that we are able to recognize
        and support submitted file formats.</li>
      <li>No materials will be removed without the authors' knowledge</li>
    </ul>
  
    <p>If you have any questions, check <a
        href="https://library.uoregon.edu/digital-scholarship-services/scholars-bank/faq-scholars-bank">Frequently Asked
        Questions</a> or contact the <a routerLink="/info/contactus">Institutional Repository Manager</a> for
      assistance. Scholars' Bank is maintained through <a
        href="https://library.uoregon.edu/department-of-open-research">the Department of Open Research</a>.</p>

    <p>For information on accessibility accommodations at the University of Oregon, please visit the 
      <a href="https://aec.uoregon.edu/accommodations">Accessible Education Center</a>.</p>
  </div>