<div class="about-section">
  <h2>About</h2>
  
  <p>The University of Oregon Libraries is an essential partner in the University’s educational, research, and public service mission. We are committed to providing the university with outstanding library resources, programs, and services. We are dedicated to creating welcoming, inclusive environments for all members of our diverse community. With five locations on the Eugene campus, and branches at UO Portland and at the Oregon Institute of Marine Biology, the Libraries offers many flexible and well-equipped environments for library users’ research and learning needs.</p>
</div>