@if (!showDiscoverFilters) {
  <div id="home-container" class="container">
    <ng-container *ngTemplateOutlet="homeContent"></ng-container>
  </div>
}

<ng-template #homeContent>
<div class="background-image-container">
  <div class="background-image">
    <div class="overlay">
      <h1 class="united-Serif-regular">Search Scholars' Bank</h1>
      <div class="search-container">
        <ds-search-form id="home-page-search-form" [inPlaceSearch]="false" [homePlaceholder]="''"
          [searchPlaceholder]="'home.search-form.placeholder' | translate">
        </ds-search-form>
      </div>
    </div>
  </div>
</div>
<ds-themed-top-level-community-group></ds-themed-top-level-community-group>
</ng-template>
